#p1{
  color: #756B52 ;
  background-color:#F5E0AC ;
  padding: 15px;
  margin: 20px;
}
.paragraph{
    text-decoration-line: initial;
    text-align: center;
color: gold ;
background-color:rebeccapurple ;
padding: 15px;
margin: 20px;
text-align: end;
border-radius: 20px;



}
h3{
text-align: center;
color: gold;

}