/*

1 Selector por etiqueta: cambia el estilo a todas las etiquetas 
en cuestion, se coloca directamente el nombre de la etiqueta
2. Selector por clase cambia o modifica el estilo del elemento
en donde se mencione  la clase  atributo (class) para crear un estilo
por clase se coloca .nombreEstilo
3.Selector por identificador es decir por el (id)
modifica el estilo del elemento que posea (id)
4. selector universal *
*/



/* Por etiqueta*/
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  background-color:rgb(176, 224, 230) ;
}
/* selector por clase*/
.subtitulo{
    text-align: center;
    color: 	rgb(255, 69, 0);
    background-color: gray;
}
/* Por id*/
#info{
    border-radius: 15px;
    background-color: rgb(154, 205, 50);
    color: black;
    padding: 15px ;

}